
@{
    ViewData["Title"] = "Home";
}

<div class="text-center container-xxl">
    <h1 style="color: var(--my-text-color-primary);">Pizzeria da Gino</h1>
   <p>Benvenuto nella nostra fantastica pizzeria, Accedi o registrati. </p>
</div>
